<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="container">
	<a th:href="@{/users/addUserForm}" class="btn btn-primary">Add User</a>
	<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>email</th>
			<th>password</th>
			<th>Date Time</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<tr th:each="user : ${users}">
				<td th:text="${user.id}"/>
				<td th:text="${user.name}"/>
				<td th:text="${user.email}"/>
				<td th:text="${user.password}"/>
				<td th:text="${user.datetimeCreated}"/>	
				<td>
					<a th:href="@{/users/updateUserForm(userId=${user.id})}" class="btn btn-success">Update</a>
					<a th:href="@{/users/delete(userId=${user.id})}" class="btn btn-danger">Delete</a>
				</td>
			</tr>
	</tbody>
	</table>
	
	<a th:href="@{/}">Go back</a>
</body>
</html>